<phpunit colors="true" strict="true" backupGlobals="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="32767"/>
    </php>
    <!--<filter>-->
        <!--<whitelist>-->
            <!--<directory suffix=".php">src/</directory>-->
        <!--</whitelist>-->
    <!--</filter>-->
    <!--<logging>-->
        <!--<log type="coverage-html" target="./coverage" charset="UTF-8"-->
             <!--yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>-->
    <!--</logging>-->
</phpunit>
